<p id="notice"><%= notice %></p>

<h1>Listing Gists</h1>

<% @gists.each do |gist| %>
  <pre><%= gist.snippet %></pre>
  <p>description: <%= gist.lang %></p>
  <p>language: <%= gist.description %></p>
  <div>
    <span><%= link_to 'Show', gist %></span>
    <span><%= link_to 'Edit', edit_gist_path(gist) %></span>
    <span><%= link_to 'Destroy', gist, method: :delete, data: { confirm: 'Are you sure?' } %></span>
  </div>
<% end %>

<br>

<div>
  <%= link_to 'New Gist', new_gist_path %>
</div>
